.conteudo-texto h1{
    font-family: calibri;
    font-weight: bold;
    
}

.conteudo-texto h3{
    font-family: calibri;
    font-weight: bold;
    
}

.conteudo-texto button{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 5px 10px;
    
}

.btn1{
    
    background-color: #0b0b0b;
    border: none;
    color: #ffffff;
}

.btn2{
    background-color: #0b0b0b;
    border: none;
    color: #ffffff;
}

.btn3{

    background-color: #0b0b0b;
    border: none;
    color: #ffffff;
}

.imagem{
    width: 256px;
    height: 144px;
    position: absolute;
    left: 90%;
    transform: translateX(-70%);
    margin-top: 0%;  
}
.imagem1{
    width: 256px;
    height: 144px;
    position: absolute;
    left: 15%;
    transform: translateX(-70%);
    margin-top: 0%;
    
}

.imagem2{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 40%;
    transform: translateX(-70%);
    margin-top: 0%;
    
}
.imagem3{
    width: 224px;
    height: 126px;
    position: absolute;
    left: 67%;
    transform: translateX(-70%);
    margin-top: 0%;
}
.linkJogo{
    width: 96px;
    height: 54px;
    position: absolute;
    left: 25%;
    transform: translateX(-70%);
    margin-top: 17%;
}
.linkSite{
    width: 96px;
    height: 54px;
    position: absolute;
    left: 78%;
    transform: translateX(-70%);
    margin-top: 17%;
}


